section.contact{
    width: 100%;
    height: 30vh;
    @include flex-element;
    flex-direction: column;
    justify-content: center;
    p{
        color: $dark_color;
        font-size: 23px;
        font-weight: 300;
    }
    h2{
        color: $dark_color;
        font-size: 46px;
        font-weight: 400;
        
    }

}